h1 {
  color: $peach;
  font-family: 'Changa', sans-serif;
  font-size: 400%;
  margin: 40px 0;
}

header span {
  font-family: 'Bangers', cursive;
  font-style: italic;
  letter-spacing: 7px;
  text-shadow: 2px 2px $lightBlue;
}

.display-fav {
  // @include buttons;
  border: 0;
  border-radius: 15px;
  height: 32px;
  left: 80%;
  position: absolute;
  top: 64px;
  width: 140px;
}