.card-box {
  border: 2px solid red;
  width: 23%;
  margin: 30px 1%;
  font-family: 'Roboto Mono', monospace;
}

.card-box header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}

.card-box button {
  
}